/* You can add global styles to this file, and also import other style files */

 .series2{
     background-color: orange !important;
     color:purple !important;
     fill:red;
    stroke: violet;
 }